
h1 {
font-size: 80px;
text-align: left;

}
h1 {
font-family: "Brush Script MT";

}
p {
font-family: "Arial";

}

h3 {
font-family: "Lucida Console";

}

h4 {
font-family: "Times New Roman";

}

h5 {
font-family: "Helvetica";

}
